@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

.block {
    align-items: center;
}

.descrizione {
    padding: 70px;
}

.picture {
    text-align: center;
}

.picture img {
    width: 100%; /* Assicura che l'immagine sia responsiva */
    padding-top: 20px;
}

.text-container {
    padding: 5px;
    flex: 2;
}

.text-container h2 {
    margin-bottom: 10px;
}

.text-container p {
    line-height: 1.5;
}

.card {
    padding: 20px;
    border-radius: 10px;
    background-color: #f0f0f0;
}

.card h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.card p {
    font-size: 18px;
}

.card button {
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.item {
    padding-top: 20px;
    text-align: center;
}

.box {
    text-align: center;
    justify-content: center;
    height: 120px;
    display: flex;
    flex-direction: column;
}

.item h2 {
    font-size: 13px;
    text-align: center;
}

.item .info {

    border-radius: 10px;
    padding-top: 8px;
    border: black;
}

.box span {
    font-weight: bold;
    font-size: 25px;
}
