@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

.block {
    align-items: center;
}

.descrizione {
    padding: 80px;
}

.picture {
    text-align: center;
}

.picture img {
    width: 100%; /* Assicura che l'immagine sia responsiva */
    padding-top: 20px;
}

.text-container {
    padding: 5px;
    flex: 2;
}

.text-container h2 {
    margin-bottom: 10px;
}

.text-container p {
    line-height: 1.5;
}

.card {
    padding: 20px;
    border-radius: 10px;
    background-color: #f0f0f0;
}

.card h1 {
    font-size: 24px;
    margin-bottom: 10px;
    color: black;
    font-weight: bold;
}

.info h3 {
    font-size: 15px;
    margin-bottom: 10px;
    color: black;
    font-weight: semi-bold;
}

.card p {
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.card button {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 100%;
    background-color: #6865FF;
    color: #F7F6FE;
    border: none;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.card button:hover{
    background-color: #3331b7;
}

.card button:active{
    background-color: #F7F6FE;
    color: #3331b7;
}

.card button:focus{
    background-color: #F7F6FE;
    color: #3331b7;
}

.item {
    padding-top: 20px;
    text-align: center;
}

.box {
    text-align: center;
    justify-content: center;
    height: 120px;
    display: flex;
    flex-direction: column;
}

.item h2 {
    font-size: 13px;
    text-align: center;
}

.item .info {
    border-radius: 10px;
    padding-top: 8px;
    border: black;
}

.box span {
    color: black;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 100%;
    margin: 0;
}

.spacer{
    height:3rem;
}