<nav class="navbar navbar-expand-xl position-fixed">
    <div class="container-fluid">
      <a class="navbar-brand" href="index.html">
        <img src="../assets/logo.svg" alt="Logo" class="navbar-logo">
        <span class="d-lg-block d-none">SerenityDream Travels</span>
      </a>
      <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="toggler-icon top-bar"></span>
        <span class="toggler-icon middle-bar"></span>
        <span class="toggler-icon bottom-bar"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 ">
          <li class="nav-item">
            <a class="nav-link" href="#">about</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">destinazioni</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">esperienze</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">gift shop</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>