/* Navbar
.navbar {
  position: absolute;
  width: 100%;
  min-height: 100px;
  z-index: 1;
  background: var(--glass, linear-gradient(101deg, rgba(255, 255, 255, 0.30) 1.25%, rgba(255, 255, 255, 0.21) 99.35%));
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
}

.navbar-logo {
  width: 30px;
  height: 45px;
  margin-left: 70px;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand span {
  font-family: 'Against', sans-serif;
  font-size: 23px;
  color: #FDFDFD;
  margin-left: 20px;
}

/* Stile per i link della navbar 
.navbar-nav {
  display: flex;
  width: 580px;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}

@media screen and (min-width: 992px) {
  .navbar-nav {
    align-items: flex-end;
  }
}

.navbar-nav a {
  font-family: 'Montserrat';
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #FDFDFD;
}

/* Burger Menu
.navbar-toggler {
  border: 0 !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none !important;
  box-shadow: none !important;
  border: 0 !important;
}

.toggler-icon {
  width: 30px;
  height: 3px;
  background-color: #FFFFFF;
  display: block;
  transition: all 0.3s;
  margin-right: 70px;
}

.middle-bar {
  margin: 5px auto;
  margin-right: 70px;
}

/* Navbar aperta 
.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
  opacity: 0;
  filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}

/* Navbar chiusa
.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}

.navbar-toggler.collapsed .toggler-icon {
  background-color: #FFFFFF;
}*/

/* Header */
.body {
  background-image: url('../assets/background.png');
}

#hero-image {
  background-image: linear-gradient(to bottom, transparent 80%, white), url('../assets/sfondo.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FDFDFD;
  text-align: center;
  position: relative;
}

h1 {
  font-family: "against";
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  margin-bottom: 40px;
}

h2 {
  color: #FDFDFD;
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 5vw;
}

/* Filters */

.filters * {
  color: var(--dark, );
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 30px;
}

.gx-3>* {
  margin-right: 20px;
}

.glassmorphism {
  position: relative;
  top: -350px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  backdrop-filter: blur(20px);
  padding: 30px 50px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.btn-custom-color {
  background-color: #8379ff;
  border-color: #8379ff;
}

.btn-custom-color:hover {
  background-color: #6e63e6;
  border-color: #6e63e6;
}

.btn-custom-color:focus {
  background-color: #564fe0;
  border-color: #564fe0;
}

.btn-circle {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 0;
}


/* Footer
.footer-bs {
  position: relative;
  min-height: 165px;
  background: var(--glass, linear-gradient(101deg, rgba(255, 255, 255, 0.30) 1.25%, rgba(255, 255, 255, 0.21) 99.35%));
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  align-content: center;
  background-color: #564fe0;
  padding: 0px 70px;
  justify-content: space-between;
}

.footer-text {
  color: var(--dark, #211E43);
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: right;
}

.footer-logo {
  width: 45px;
  height: 70px;
}

.socialmedia {
  display: flex;
  max-width: 400px;
  margin: auto;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px 0;
}

.footer h3 {
  color: var(--dark, #211E43);
  font-family: "Montserrat";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.custom-btn {
  background-color: #211E43;
  border-color: #211E43;
  color: var(--white, var(--fill-default-main, #FFF));
  font-family: "Montserrat";
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.custom-btn:hover {
  background-color: #564fe0;
  border-color: #564fe0;
}

@media (max-width: 991.98px) {
  .footer-text {
    text-align: center;
  }
}
*/